In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import itertools

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

# import tensorflow as tf
# from keras import optimizers
# from keras.utils import plot_model
# from keras.models import Sequential, Model
# from keras.layers.convolutional import Conv1D, MaxPooling1D
# from keras.layers import Dense, LSTM, RepeatVector, TimeDistributed, Flatten, Dropout

# from sklearn.preprocessing import StandardScaler
# from keras import metrics

In [2]:
plt.style.use('ggplot')
plt.rc('patch', force_edgecolor=True,edgecolor='black')
plt.rc('hist', bins='auto')

In [19]:
test = pd.read_csv('../csv_folder/test.csv')

In [20]:
train = pd.read_csv('../csv_folder/sales_train.csv')
train.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [21]:
train.drop(['item_price', 'date'], axis=1, inplace=True)

In [40]:
shops_train = train['shop_id'].unique().tolist()
items_train = train['item_id'].unique().tolist()
dates = list(range(34))
print(len(shops_train), len(items_train), len(dates))

60 21807 34

In [41]:
shops_test = test['shop_id'].unique().tolist()
items_test = test['item_id'].unique().tolist()
print(len(shops_test), len(items_test))

42 5100

In [42]:
for i in shops_test:
    shops_train.append(i)
for i in items_test:
    items_train.append(i)
print(len(shops_train), len(items_train))

102 26907

In [45]:
shops = list(set(shops_train))
items = list(set(items_train))
print(len(shops), len(items))

60 22170

In [46]:
index = [(s, i, d) for s in shops for i in items for d in dates]

In [47]:
index = pd.DataFrame(index, columns=['shop_id', 'item_id', 'date_block_num'])
index.head()

   shop_id  item_id  date_block_num
0        0        0               0
1        0        0               1
2        0        0               2
3        0        0               3
4        0        0               4

In [48]:
train = index.merge(train, on=['shop_id', 'item_id', 'date_block_num'], how='left')

In [49]:
train.fillna(0, inplace=True)

In [50]:
train.to_csv('./all_items_per_shop_train_and_test.csv', index=False)

In [51]:
train

          shop_id  item_id  date_block_num  item_cnt_day
0               0        0               0           0.0
1               0        0               1           0.0
2               0        0               2           0.0
3               0        0               3           0.0
4               0        0               4           0.0
...           ...      ...             ...           ...
46553520       59    22169              29           0.0
46553521       59    22169              30           0.0
46553522       59    22169              31           0.0
46553523       59    22169              32           0.0
46553524       59    22169              33           0.0

[46553525 rows x 4 columns]