# Auto Regressive Integrated Moving Average

Three order parameters: (p,d,q)
    - p is the order of the AR term
    - q is the order of the MA term
    - d is the # of differencing required to make the time series stationary

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('ggplot')
plt.rc('patch', force_edgecolor=True,edgecolor='black')
plt.rc('hist', bins='auto')

from statsmodels.tsa.arima_model import ARIMA

In [34]:
train = pd.read_csv('csv_folder/preprocessed/train_uni_var.csv', header=1)

In [35]:
train_key = pd.read_csv('csv_folder/preprocessed/train_key.csv')

In [38]:
data = pd.concat([train_key, train], axis=1)
data.set_index(['shop_id', 'item_id'], inplace=True)

In [41]:
data

                 0   1  2  3  4  5  6  7  8  9  ...  24  25  26  27  28  29  \
shop_id item_id                                 ...
0       30       0  31  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0
        31       0  11  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0
        32       6  10  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0
        33       3   3  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0
        35       1  14  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0
...             ..  .. .. .. .. .. .. .. .. ..  ...  ..  ..  ..  ..  ..  ..
59      22154    1   0  0  0  0  0  0  0  0  0  ...   0   0   0   0   0   0
        22155    0   0  0  0  0  0  1  0  0  0  ...   0   0   0   0   0   0
        22162    0   0  0  0  0  0  0  0  0  0  ...   0   9   4   1   1   0
        22164    0   0  0  0  0  0  0  0  0  0  ...   0   2   1   2   0   0
        22167    0   0  0  0  0  0  0  0  0  1  ...   0   0   0   0   0   0

                 30  31  32  33
shop_id item_id
0       30        0   0   0   0
        31        0   0   0   0
        32        0   0   0   0
        33        0   0   0   0
        35        0   0   0   0
...              ..  ..  ..  ..
59      22154     0   0   0   0
        22155     0   0   0   0
        22162     0   1   0   0
        22164     1   0   0   0
        22167     0   0   0   0

[424124 rows x 34 columns]