# Data Overview & Exploratory

It does not go in-depth into any particular topic -
check out [Kaggle - Predict Future Sales Competition](https://www.kaggle.com/competitions/competitive-data-science-predict-future-sales/overview) for more information.

Check out the content pages bundled with this sample book to see more.

#### Module Imports

In [2]:
import pandas as pd
import os

### Overview of Data Files

In [3]:
os.listdir('../csv_folder')

['sales_train.csv',
 'shops.csv',
 'test.csv',
 'item_categories.csv',
 'items.csv']

- We will need to join the ***items*** and the ***sales_train*** dataframes
- The ***shops*** and ***item_categories*** only contain the names of id values
- The final file ***test*** will be used when submitting predictions

---
##### Sales Data

In [4]:
sales = pd.read_csv('csv_folder/imported/sales_train.csv')
shops = pd.read_csv('csv_folder/imported/shops.csv')
itm_groups = pd.read_csv('csv_folder/imported/item_categories.csv')
items = pd.read_csv('csv_folder/imported/items.csv')

sales.head(10)

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0
5  10.01.2013               0       25     2564      349.00           1.0
6  02.01.2013               0       25     2565      549.00           1.0
7  04.01.2013               0       25     2572      239.00           1.0
8  11.01.2013               0       25     2572      299.00           1.0
9  03.01.2013               0       25     2573      299.00           3.0

- `date` and `date_block_num` are our time series values 
- `shop_id` and `item_id` are our index
- `item_price` and `item_cnt_day` are our values

---
##### Key Tables (shops, items, categorties)

In [5]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

The names of the shops are in russian, should find some encoding that is capable of handling these

In [6]:
itm_groups.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

As shown above, the ***shops*** and ***item_categories*** only contain the names of id values. These may be useful later but for now we will use only the id values.

In [7]:
items.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

Showing the ***test*** data for reference

In [8]:
item_group_names = pd.merge(items, itm_groups)
item_group_names.loc[:,['item_name', 'item_category_name', 'item_id', 'item_category_id']]

,item_name,item_category_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,Кино - DVD,0,40
1,***В ЛУЧАХ СЛАВЫ (UNV) D,Кино - DVD,2,40
2,***ГОЛУБАЯ ВОЛНА (Univ) D,Кино - DVD,3,40
3,***КОРОБКА (СТЕКЛО) D,Кино - DVD,4,40
4,***НОВЫЕ АМЕРИКАНСКИЕ ГРАФФИТИ (UNI) ...,Кино - DVD,5,40
...,...,...,...,...
22165,Элемент питания GP 15AU (LR6) - Блистер 2 шт U...,Элементы питания,22095,83
22166,Элемент питания GP 24A (LR03) - Блистер 2 шт,Элементы питания,22096,83
22167,Элемент питания GP 24AU (LR03) - Блистер 2 шт ...,Элементы питания,22097,83
22168,Элемент питания КОСМОС LR03 2*BL,Элементы питания,22098,83
22169,Элемент питания СТАРТ ZT 15A (LR6) - Блистер 2 шт,Элементы питания,22099,83

In [14]:
#ToDo: Save itm_groups file
item_group_names.to_csv('csv_folder/preprocessed/item_groups.csv', index=False)
shops.to_csv('csv_folder/preprocessed/shops.csv', index=False)

---
#### Setting Index

Lets make a uni-variate training set to visualize our shape

In [10]:
train = pd.read_csv('csv_folder/imported/sales_train.csv', 
                      dtype={'shop_id':'int8', 
                            'item_id':'int16',
                            'item_cnt_month':'int32',
                            'date_block_num':'int8'})
train

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
0,02.01.2013,0,59,22154,999.00,1.0
1,03.01.2013,0,25,2552,899.00,1.0
2,05.01.2013,0,25,2552,899.00,-1.0
3,06.01.2013,0,25,2554,1709.05,1.0
4,15.01.2013,0,25,2555,1099.00,1.0
...,...,...,...,...,...,...
2935844,10.10.2015,33,25,7409,299.00,1.0
2935845,09.10.2015,33,25,7460,299.00,1.0
2935846,14.10.2015,33,25,7459,349.00,1.0
2935847,22.10.2015,33,25,7440,299.00,1.0
2935848,03.10.2015,33,25,7460,299.00,1.0

This is the provided training data set and will be used as the primary dataframe for training.  
We will use the other dataframes to compliment the information stored here.

In [11]:
train = train.pivot_table(index = ['shop_id','item_id'],
                     values = ['item_cnt_day'],
                     columns = ['date_block_num'],
                     fill_value = 0,
                     aggfunc='sum')
train

                item_cnt_day                              ...                 \
date_block_num            0   1  2  3  4  5  6  7  8  9   ... 24 25 26 27 28
shop_id item_id                                           ...
0       30                 0  31  0  0  0  0  0  0  0  0  ...  0  0  0  0  0
        31                 0  11  0  0  0  0  0  0  0  0  ...  0  0  0  0  0
        32                 6  10  0  0  0  0  0  0  0  0  ...  0  0  0  0  0
        33                 3   3  0  0  0  0  0  0  0  0  ...  0  0  0  0  0
        35                 1  14  0  0  0  0  0  0  0  0  ...  0  0  0  0  0
...                      ...  .. .. .. .. .. .. .. .. ..  ... .. .. .. .. ..
59      22154              1   0  0  0  0  0  0  0  0  0  ...  0  0  0  0  0
        22155              0   0  0  0  0  0  1  0  0  0  ...  0  0  0  0  0
        22162              0   0  0  0  0  0  0  0  0  0  ...  0  9  4  1  1
        22164              0   0  0  0  0  0  0  0  0  0  ...  0  2  1  2  0
        22167              0   0  0  0  0  0  0  0  0  1  ...  0  0  0  0  0


date_block_num  29 30 31 32 33
shop_id item_id
0       30       0  0  0  0  0
        31       0  0  0  0  0
        32       0  0  0  0  0
        33       0  0  0  0  0
        35       0  0  0  0  0
...             .. .. .. .. ..
59      22154    0  0  0  0  0
        22155    0  0  0  0  0
        22162    0  0  1  0  0
        22164    0  1  0  0  0
        22167    0  0  0  0  0

[424124 rows x 34 columns]

In [13]:
train.to_csv('csv_folder/preprocessed/train_uni_var.csv', index=True)