# Data Overview & Exploratory

It does not go in-depth into any particular topic -
check out [Kaggle - Predict Future Sales Competition](https://www.kaggle.com/competitions/competitive-data-science-predict-future-sales/overview) for more information.

Check out the content pages bundled with this sample book to see more.

#### Module Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# from sklearn import *

In [2]:
import matplotlib.style as style 

style.use('seaborn-darkgrid')
sns.set_context('notebook')
sns.set_palette('gist_heat')

### Overview of Data Files

In [3]:
os.listdir('../csv_folder')

['test.csv',
 'items.csv',
 'item_categories.csv',
 'sales_train.csv',
 'shops.csv']

- We will need to join the ***items*** and the ***sales_train*** dataframes
- The ***shops*** and ***item_categories*** only contain the names of id values
- The final file ***test*** will be used when submitting predictions

In [4]:
shops = pd.read_csv('../csv_folder/shops.csv')
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

The names of the shops are in russian, should find some encoding that is capable of handling these

In [5]:
item_categs = pd.read_csv('../csv_folder/item_categories.csv')
item_categs.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

As shown above, the ***shops*** and ***item_categories*** only contain the names of id values. These may be useful later but for now we will use only the id values.

In [6]:
test = pd.read_csv('../csv_folder/test.csv')
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

Showing the ***test*** data for reference

In [7]:
train_df = pd.read_csv('../csv_folder/sales_train.csv', 
                      dtype={'shop_id':'int8', 
                            'item_id':'int16',
                            'item_cnt_month':'int32',
                            'date_block_num':'int8'})

This is the provided training data set and will be used as the primary dataframe for training.  
We will use the other dataframes to compliment the information stored here.